app = "ortodoxa-gudstjanster"
primary_region = "arn"

[build]

[env]
  PORT = "8080"
  CACHE_DIR = "/app/data/cache"
  STORE_DIR = "/app/data/store"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "256mb"
  cpu_kind = "shared"
  cpus = 1

[mounts]
  source = "church_services_data"
  destination = "/app/data"
